@model IEnumerable<WestBlog.Models.Post>
@{
    ViewBag.Title = "Admin";
}

<main class="main">
    <section class="container container-fluid view-content">
        <h2>Index</h2>

        <a class="btn btn-round btn-dark" href="@Url.Action("Create", "Create")">Create New</a>
        <div class="row header">
            <div class="col-sm-1">
                <h4>@Html.DisplayNameFor(model => model.Title)</h4>
            </div>
            <div class="col-sm-3">
                <h4>@Html.DisplayNameFor(model => model.Body)</h4>
            </div>
            <div class="col-sm-1">
                <h4>@Html.DisplayNameFor(model => model.Created)</h4>
            </div>
            <div class="col-sm-1">
                <h4>@Html.DisplayNameFor(model => model.Updated)</h4>
            </div>
            <div class="col-sm-1">
                <h4>@Html.DisplayNameFor(model => model.Category)</h4>
            </div>
            <div class="col-sm-1">
                <h4>@Html.DisplayNameFor(model => model.Slug)</h4>
            </div>
            <div class="col-sm-1">
                <h4>@Html.DisplayNameFor(model => model.MediaURL)</h4>
            </div>
            <div class="col-sm-1">
                <h4>@Html.DisplayNameFor(model => model.Published)</h4>
            </div>
            <div class="col-sm-2">

            </div>
        </div>

        @foreach (var post in Model)
        {
            <div class="row entries">
                <div class="col-sm-1">
                    <b>@Html.DisplayFor(modelItem => post.Title)</b>
                </div>
                <div class="col-sm-3">
                    @Html.Raw(post.Body)
                </div>
                <div class="col-sm-1">
                    @Html.DisplayFor(modelpost => post.Created)
                </div>
                <div class="col-sm-1 break">
                            @if (post.Updated.HasValue)
                            {   <p>@Html.Raw(post.Updated.Value.DateTime.ToString("ddd, MMM dd, yyyy: HH:mm"))</p>
                            }
                </div>
                <div class="col-sm-1">
                    @Html.DisplayFor(modelItem => post.Category)
                </div>
                <div class="col-sm-1">
                    @Html.DisplayFor(modelItem => post.Slug)
                </div>
                <div class="col-sm-1 break">
                    @Html.DisplayFor(modelItem => post.MediaURL)
                </div>
                <div class="col-sm-1">
                    @Html.DisplayFor(modelItem => post.Published)
                </div>
                <div class="col-sm-2">
                    <div class="btn-group btn-group-xs" role="group">
                        <a class="btn btn-round btn-dark" href="@Url.Action("Edit", new {id = post.Id})">Edit</a>
                        <a class="btn btn-round btn-dark" href="@Url.Action("Details", new {slug = post.Slug})">Details</a>
                        <a class="btn btn-round btn-dark" href="@Url.Action("Delete", new {id = post.Id})">Delete</a>
                    </div>
                </div>
            </div>
        }
    </section>
</main>


